= content_for :title, 'Contact | abhook.id.au | Aaron Hook | Software Developer'
= content_for :description, 'Want to say hi? Got something to say to me? This is the place to do it.'

= react_component("Contact", props: {}, prerender: true)
