// Custom colours
$white: #FFF;
$black: #000;

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $white;
  margin: 0px;
}

.header, .body, .footer {
  position: absolute;
  right: 0;
  left: 0;
  background-color: $white;
}

.header {
  height: 100px;
  border-bottom: 1px $black solid;
  margin-bottom: 20px;
}

.body {
  top: 121px; // height of .header
  bottom: 120px; // height of .footer
  overflow: scroll;
}

.footer {
  height: 100px;
  bottom: 0;
  border-top: 1px $black solid;
  margin-top: 20px;
}
