// Custom colours
$white: #FFF;
$black: #000;
$border: #F7F7F7;
$hover-background: #F2F2F2;

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $white;
  margin: 0px;
}

.header, .body, .footer {
  right: 0;
  left: 0;
  background-color: $white;
}

.body {
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: scroll;
}

.footer {
  position: fixed;
  bottom: 0;
  border-top: 1px $border solid;
  margin-top: 20px;
}
