#enquiry-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  #enquiry-form {
    width: 75%;
  }
}

input[type=text],
textarea {
  width: calc(100% - 26px); // 26px = width of padding + border
}
